<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Firstname" formControlName="firstName">
          </mat-form-field>
          <auth-error-handler *ngIf="firstName.touched || submitted" [errors]="firstName.errors"></auth-error-handler>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Lastname" formControlName="lastName">
          </mat-form-field>
          <auth-error-handler *ngIf="lastName.touched || submitted" [errors]="lastName.errors"></auth-error-handler>
        </p>
        <p>
          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <auth-error-handler *ngIf="email.touched || submitted" [errors]="email.errors"></auth-error-handler>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <auth-error-handler *ngIf="username.touched || submitted" [errors]="username.errors"></auth-error-handler>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <auth-error-handler *ngIf="password.touched || submitted" [errors]="password.errors"></auth-error-handler>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
          </mat-form-field>
          <auth-error-handler *ngIf="confirmPassword.touched || submitted" [errors]="confirmPassword.errors"></auth-error-handler>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
  
        <div class="button">
          <button type="submit" mat-button>Register</button>
        </div>
  
        <div>
          <a routerLink="/login">back</a>
      </div>
      </form>
    </mat-card-content>
  </mat-card>
  